.App {
  text-align: center;
}

.App-logo {
  margin: 20px 20px 20px 20px;
  width: 10vw;
}

.App-header {
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}
.logo_div {
  width: 15vw;
}
.vote_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
